<h1>Business Contacts List</h1>
<!-- bizcontact.ejs -->
<% if (showAddButton) { %>
  <a href="/bizcontact/add" class="btn btn-primary">Add</a>
<% } %>
<table>
  <tr>
    <th>Contact Name</th><&nbsp>
    <th>Contact Number</th><&nbsp>
    <th>Email Address</th><&nbsp>
    <th>Actions</th><&nbsp>
  </tr>
  <% contacts.forEach(contact => { %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.number %></td>
      <td><%= contact.email %></td>
      <td>
        <a href="/bizcontact/<%= contact._id %>/update">Update</a>
        <a href="/bizcontact/<%= contact._id %>/delete">Delete</a>
        <a href="/bizcontact/add">Add</a> <!-- Modified: Added the "Add" button -->
      </td>
    </tr>
  <% }); %>
</table>
