<h1>Business Contacts List</h1>
<% if (showAddButton) { %>
  <a href="/bizcontact/add" class="btn btn-primary">Add</a>
<% } %>
<table>
  <tr>
    <th>Contact Name</th>
    <th>Contact Number</th>
    <th>Email Address</th>
    <th>Actions</th>
  </tr>
  <% contacts.forEach(contact => { %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.number %></td>
      <td><%= contact.email %></td>
      <td>
        <a href="/bizcontact/<%= contact._id %>/delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
        <a href="/bizcontact/update/<%= contact._id %>" class="btn btn-primary">Update</a>
      </td>
    </tr>
  <% }); %>
</table>
